.content {
    text-align: center;
    padding: 50px;
}

h1 {
    margin-bottom: 60px;
}

.rect {
    padding: 6px;
    border-width: 1.2px;
    border-radius: 5px;
}

.add {
    margin-left: 15px;
}

.array {
    margin-top: 20px;
    width: 100%;
    border-width: 0px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    color: black;
    background-color: white;
}

.ramdon {
    margin-top: 80px;
    margin-bottom: 20px;
}

.num {
    border-width: 0px;
    padding: 10px;
    font-size: 32px;
    text-align: center;
    color: black;
    background-color: white;
}

