body {
    display: flex;
    float: left;
}

.menu {
    float:right;
    margin-top: 2%;
}

.content {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 35px;
    margin-top: 15px;
    vertical-align: -13px;
}

label {
    margin-left: 20px;
}