<app-cabecera></app-cabecera>
<div class="content">
    <div>
        <div>
            <img id="direccion" src="assets/locacion.png" alt="Dirección" />
            <label for="direccion">Calle Goya nº1, Madrid, España</label>
        </div>

        <div>
            <img id="telefono" src="assets/tel.png" alt="Teléfono" />
            <label for="telefono">123 456 789</label>
        </div>

        <div>
            <img id="email" src="assets/email.png" alt="Email" />
            <label for="email">ejemplo@hotmail.com</label>
        </div>

        <div>
            <img id="linkedin" src="assets/linkedin.png" alt="Linkedin" />
            <label for="linkedin">/ejemplo</label>
        </div>

        <div>
            <img id="instagram" src="assets/instagram.png" alt="Instagram" />
            <label for="instagram">@ejemplo</label>
        </div>
    </div>
</div>