body {
    /* position: relative; */
    display : flex;
    justify-content : center;
    align-items : center;
}

.content {
    text-align: center;
    padding: 50px;
}

.calculadora {
    padding: 25px;
    padding-top: 30px;
    margin-top: 50px;
    border-width: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(73, 73, 156);
}

.resultado {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(126, 117, 117);
}

.res {
    font-size: 25px;
    text-align: right;
    border-radius: 5px;
}

.rect {
    height: 30px;
    border-width: 1.2px;
    border-radius: 5px;
}

.botones {
    margin-top: 20px;
    margin-bottom: 20px;
    display : flex;
    justify-content : center;
    align-items: center;
}

.button {
    width: 50px;
    height: 40px;
    margin-left: 10px;
    border-width: 1.2px;
    border-radius: 5px;
    color: white;
    background-color: rgb(126, 117, 117);
}

.botonRes {
    margin-top: 50px;
    margin-bottom: 20px;
}

.buttonAC {
    width: 120px;
    height: 60px;
    border-width: 1.2px;
    border-radius: 5px;
    color: white;
    background-color: rgb(182, 61, 61);
}

.buttonRes {
    width: 120px;
    height: 60px;
    margin-left: 10px;
    border-width: 1.2px;
    border-radius: 5px;
    color: white;
    background-color: rgb(73, 73, 156);
}

