<div class="photo">
    <img class="fotoCV" id="fotoCurriculum" src={{img}} alt={{nombre_completo}}
        title={{nombre_completo}} />
    <h2>ESTUDIANTE DE INGENIERÍA INFORMÁTICA</h2>
</div>

<div class="name">
    <h1>{{nombre}} <br>{{apellido1}} <br>{{apellido2}}</h1>
    <hr class="rightLine">
    <p class="resume">En este momento me encuentro finalizando los estudios de {{carrera}} en
        la {{universidad}}.</p>
    <!-- {{carrera}} y {{universidad}} lo hereda de AppComponent  -->
</div>
