<div>
    ID: <input class="rect" value="" disabled/> 
</div>

<div>
    Título: <input class="rect" value="" disabled/> 
</div>

<div>
    Compañia: <input class="rect" value="" disabled/> 
</div>

<div>
    Valoración media: <input class="rect" value="" disabled/> 
</div>

<div class="botones">
    <button class="button" (click)="alta()">Añadir</button>
    <button class="button" (click)="allClear()">Vaciar</button>
    <!-- <button class="button" (click)="multiplicacion()">X</button>
    <button class="button" (click)="division()">/</button> -->
</div>