.photo {
    position: relative;
    float: left;
    width: 20vw;
    margin-left: 52px;
    text-align: left;
}

.name {
    position: relative;
    float: left;
    width: 64vw;
    margin-left: 50px;
    text-align: justify;
}

.bottom {
    position: relative;
    float:left;
    width: 90vw;
    margin-left: 52px;
    margin-bottom: 30px;
}

.left {
    position: relative;
    float: left;
    background-color: #737373;
    width: 20vw;
    text-align: center;
    color: black;
    font-size: 14px;
}

.right {
    position: relative;
    float: left;
    width: 63vw;
    margin-left: 50px;
    color: black;
    text-align: justify;
}

.fotoCV {
    width: 100%;
}

.h2 {
    font-size: 20px;
    text-align: left;
}

.h1 {
    font-size: 40px;
    font-weight: bold;
}

.rightLine {
    border-radius: 10%;
}

.resume {
    font-size: 18px;
    text-align: justify;
    margin-top: 30px;
}

.h3 {
   font-size: 18px;
   margin-top: 25%; 
}

.leftLine {
    color: black;
    border-radius: 10%;
    width: 75%;
}

.perfil {
    font-size: 14px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}

.iconos {
    width: 14%;
    margin-top: 10%;
}

.h4 {
    font-size: 17px;
    margin-bottom: 15px;
}

.li {
    color: #505050;
}

.h5 {
    font-size: 15px;
    font-weight: normal;
    margin-top: 13px;
    margin-bottom: 8px;
}

.h6 {
    font-size: 14px;
    font-weight: normal;
    margin-top: 8px;
    margin-bottom: 8px;
}