body {
	font-family: 'Fira Sans', sans-serif;
	background-color: #E5E3C9;	
}

h1 {
	font-size: 45px;
	color: black;
	text-align: center;
}

.content {
	display: flex;
    justify-content: center;
}

.borde {
	margin-top: 100px;
	padding: 40px 40px 50px 40px;
	border-width: 4px;
	border-style: solid;
	border-radius: 15px;
	border-color: #789395;
}

p {
	margin-top: 100px;
	font-size: 22px;
}

dl {
	margin-left: 20px;
}

dt{
	font-size: 18px;
	margin-bottom: 3px;
	
}

dd {
	font-size: 15p;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
}



